[submodule "lib/rust"]
	path = lib/rust
	url = https://github.com/ryanra/rust.git
[submodule "lib/spinlock-rs"]
	path = lib/spinlock-rs
	url = https://github.com/ryanra/spinlock-rs.git
[submodule "lib/rlibc"]
	path = lib/rlibc
	url = https://github.com/ryanra/rlibc.git
[submodule "lib/lazy-static-spin"]
	path = lib/lazy-static-spin
	url = https://github.com/RustOS-Fork-Holding-Ground/lazy-static-spin
[submodule "lib/lazy-static.rs"]
	path = lib/lazy-static.rs
	url = https://github.com/ryanra/lazy-static.rs.git
